.horizontal-projects {
  padding: 150px 50px;
  background-color: #f7f7f7;
  direction: rtl;
  font-family: var(--font-main);
}

.horizontal-card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0,0,0,0.3);
 margin-top: 50px;
}

.horizontal-card img {
  width: 45%;
  object-fit: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.25); /* ظل غامق فوق الصورة */
}

.card-text {
  width: 55%;
  padding: 30px;
  text-align: right;
  background-color: #fff;
}

.card-text h3 {
  color: #c91717;
  font-size: 22px;
  margin-bottom: 10px;
}

.card-text p {
  font-size: 15px;
  color: #444;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .horizontal-projects {
    padding: 60px 20px;    
  }

  .horizontal-card {
    flex-direction: column;    
    margin-top: 30px;
  }

  .horizontal-card img {
    width: 100%;              
    height: 200px;            
    object-fit: cover;
  }

  .card-text {
    width: 100%;           
    padding: 20px;
    text-align: center;     
  }

  .card-text h3 {
    font-size: 18px;
  }

  .card-text p {
    font-size: 14px;
  }
}
